<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <h1>Tic Tac Toe API</h1>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}"/>
    </head>
    <table>
        <tr id ="row1">
            <td>{{ board[0][0] }}</td>
            <td class="square vert">{{ board[0][1] }}</td>
            <td>{{ board[0][2] }}</td>
        </tr>
        <tr id="row2">
            <td class="square hori">{{ board[1][0] }}</td>
            <td class="square vert hori">{{ board[1][1] }}</td>
            <td class="square hori">{{ board[1][2] }}</td>
        </tr>
        <tr id="row3">
            <td>{{ board[2][0] }}</td>
            <td class="square vert">{{ board[2][1] }}</td>
            <td>{{ board[2][2] }}</td>
        </tr>
    </table>

    <div class = "container">
        <!-- Reset the Board-->
        <h1 id="winner">PLAYER {{ player }} WINS!</h1>
        <a href="{{url_for('reset')}}" class="btn btn-default">Reset</a>
    </div>
</html>